$schema: "http://json-schema.org/2020-12/schema#"

description: snakemake configuration file

definitions:
  envmodules_list:
    description: >-
      hpc environment module list
    type: array
    items:
      type: string
    uniqueItems: true




type: object

# possible entries of the config file and which type they should be
properties:

  krakenuniq_db:
    type: string
    description: >-
      KrakenUniq database
  bowtie2_patho_db:
    type: string
    description: >-
      Bowtie2 pathogenome database
  pathogenomesFound:
    type: string
    description: >-
      List of pathogens to keep when filtering krakenuniq output
  pathogenome_path: # FIXME: is this really necessary? Wouldn't
                    # 'basename bowtie2_patho_db' do?
    type: string
    description: >-
      Bowtie2 pathogenome path
  malt_seqid2taxid_db:
    type: string
    description: >-
      Sequence id to taxonomy id mapping
  malt_nt_fasta:
    type: string
    description: >-
      Fasta library
  malt_accession2taxid:
    type: string
    description: >-
      Accession to taxonomy id mapping

  envmodules:
    type: object
    description: >-
      envmodules listings for relevant rules
    default: {}
    properties:
      FastQC_BeforeTrimming:
        default: []
        $ref: "#/definitions/envmodules_list"
      MultiQC_BeforeTrimming:
        default: []
        $ref: "#/definitions/envmodules_list"
      Cutadapt_Adapter_Trimming:
        default: []
        $ref: "#/definitions/envmodules_list"
      FastQC_AfterTrimming:
        default: []
        $ref: "#/definitions/envmodules_list"
      MultiQC_AfterTrimming:
        default: []
        $ref: "#/definitions/envmodules_list"
      KrakenUniq:
        default: []
        $ref: "#/definitions/envmodules_list"
      Filter_KrakenUniq_Output:
        default: []
        $ref: "#/definitions/envmodules_list"
      KrakenUniq2Krona:
        default: []
        $ref: "#/definitions/envmodules_list"
      KrakenUniq_AbundanceMatrix:
        default: []
        $ref: "#/definitions/envmodules_list"
      Build_Malt_DB:
        default: []
        $ref: "#/definitions/envmodules_list"
      Malt:
        default: []
        $ref: "#/definitions/envmodules_list"
      Malt_AbundanceMatrix:
        default: []
        $ref: "#/definitions/envmodules_list"
      MapDamage:
        default: []
        $ref: "#/definitions/envmodules_list"
      Bowtie2_Pathogenome_Alignment:
        default: []
        $ref: "#/definitions/envmodules_list"


  illumina_universal_adapter:
    type: string
    description: >-
      Illumina adapter to use for trimming
    default: AGATCGGAAGAG
  samplesheet:
    description: >-
      Sample sheet. Tab- or comma-separated values. See
      samples.schema.yaml for a description of file format.
    type: string
    pattern: .+\.(tsv|csv)$
  samples:
    type: object
    default: {}
    properties:
      include:
        description: >-
          Samples to include in analysis. If empty use all samples in
          sampleinfo file
        type: array
        items:
          type: string
        uniqueItems: true
      exclude:
        description: >-
          Samples to exclude from analysis.
        type: array
        items:
          type: string
        uniqueItems: true


# entries that have to be in the config file for successful validation
required:
  - samplesheet
  - krakenuniq_db
  - bowtie2_patho_db
  - pathogenome_path
  - pathogenomesFound
  - malt_seqid2taxid_db
  - malt_nt_fasta
  - malt_accession2taxid
